body {
	background-color: lightgray;
	color: #000000;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	margin: 0;
}

/*----------------------------*/
/* Teams
/*----------------------------*/
.content.teams {
  margin: 0 auto;
  max-width: 1920px;
  width: 90%;
}
/* .content.teams .list {} */
.content.teams .list a {
	background-color: #FFFFFF;
	color: #000000;
	align-items: center;
	display: flex;
	justify-content: flex-start;
	margin-top: 10px;
	padding: 10px;
	text-decoration: none;
}
.content.teams .list a:first-of-type {
	margin-top: 0;
}
.content.teams .list a:hover {
	background-color: gray;
}
.content.teams .list a img.shield {
	height: 40px;
	width: 40px;
}
.content.teams .list a span.team {
	font-weight: 700;
	margin-left: 10px;
}
.content.teams .list a span.name {
	font-size: 14px;
	margin-left: 5px;
}
.content.teams .list a img.pro {
	height: 20px;
	width: 40px;
	margin-left: auto;
}

/*----------------------------*/
.loading {
  background-color: gray;
  bottom: 0;
  display: none;
  left: 0;
  opacity: .7;
  position: absolute;
  right: 0;
  top: 0;
}