/* #17252A */
/* #2B7A78 */
/* #3AAFA9 */
/* #DEF2F1 */
/* #FEFFFF */

body {
	background-color: #FEFFFF;
	color: #17252A;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	margin: 0;
}

header {
	background-color: #2B7A78;
	font-size: 0;
	margin: 0;
	padding: 15px 5%;
}
header h1 {
	color: #FEFFFF;
	display: inline-block;
	font-size: 28px;
	margin: 0;
}
header span {
	color: #FEFFFF;
	display: inline-block;
	font-size: 16px;
	margin: 0 5px;
}
/* header span.sep {} */
header span.sep:first-of-type {
	font-size: 28px;
	font-weight: 700;
	margin: 0 10px 0 15px;
}
header a {
	color: #FEFFFF;
	display: inline-block;
	font-size: 16px;
	margin: 0 5px;
	text-decoration: none;
}
header a:hover {
	text-decoration: underline;
}
header span.current {
	color: #FEFFFF;
	display: inline-block;
}

/*----------------------------*/
/* Members
/*----------------------------*/
.content.members {
  margin: 0 auto;
  max-width: 1920px;
  width: 90%;
}
/* .content.members .list {} */
.content.members .list a {
	background-color: #FFFFFF;
	color: #000000;
	align-items: center;
	display: flex;
	justify-content: flex-start;
	margin-top: 10px;
	padding: 10px;
	text-decoration: none;
}
.content.members .list a:first-of-type {
	margin-top: 0;
}
.content.members .list a:hover {
	background-color: gray;
}
.content.members .list a img.shield {
	height: 40px;
	width: 40px;
}
.content.members .list a span.team {
	font-weight: 700;
	margin-left: 10px;
}
.content.members .list a span.name {
	font-size: 14px;
	margin-left: 5px;
}
.content.members .list a img.pro {
	height: 20px;
	margin-left: auto;
	width: 40px;
}

/*----------------------------*/
/* Member Details
/*----------------------------*/
.content.member-details {
	margin: 0 auto;
	max-width: 1920px;
	width: 90%;
}
.content.member-details .info {
	margin: 30px auto 0;
}
.content.member-details .info .shield-wrap {
	position: relative;
	width: 80px;
}
.content.member-details .info .shield-wrap img.shield {
	display: block;
	height: 85px;
	margin: 0 auto;
	width: 80px;
}
.content.member-details .info .shield-wrap img.pro {
	height: 20px;
	position: absolute;
	right: -20px;
	top: -10px;
	width: 40px;
}
.content.member-details .info div {
	text-align: center;
	margin: 5px auto 0;
}
.content.member-details .info div.team {
	color: #2B7A78;
	font-size: 22px;
	font-weight: 700;
}
.content.member-details .chart {
	background-color: #DEF2F1;
	border-radius: 15px;
	height: 300px;
	margin: 30px auto 0;
	padding: 15px 15px 45px;
	position: relative;
}
.content.member-details .chart:first-of-type {
	margin: auto;
}
.content.member-details .chart h1 {
	color: #2B7A78;
	font-size: 18px;
	margin: 0 auto 15px;
	text-align: center;
}
